<div class="container d-flex flex-column justify-content-center align-items-center">
  <div class="border border-muted rounded py-3 px-3 w-50 ctr-content">

    <header class="text-center">
      <h4 class="fw-bold">Almost done</h4>
      <span class="sub-title">Please enter the code below to validate your account</span>
    </header>

    <form class="my-3">
      <div class="d-flex justify-content-between">
        <div class="form-group mx-2">
          <input type="text" name="" id="" class="text-center fw-semibold lg fs-1 input-key form-control input-sm">
        </div>
        <div class="form-group mx-2">
          <input type="text" name="" id="" class="text-center fw-semibold lg fs-1 input-key form-control input-sm">
        </div>
        <div class="form-group mx-2">
          <input type="text" name="" id="" class="text-center fw-semibold lg fs-1 input-key form-control input-sm">
        </div>
        <div class="form-group mx-2">
          <input type="text" name="" id="" class="text-center fw-semibold lg fs-1 input-key form-control input-sm">
        </div>
        <div class="form-group mx-2">
          <input type="text" name="" id="" class="text-center fw-semibold lg fs-1 input-key form-control input-sm">
        </div>
        <div class="form-group mx-2">
          <input type="text" name="" id="" class="text-center fw-semibold lg fs-1 input-key form-control input-sm">
        </div>
      </div>

      <div class="d-grid gap-2 mt-5">
        <input type="button" routerLink="" value="VERIFY" class="btn btn-danger" />
      </div>
    </form>
  </div>

</div>