<div class="container d-flex flex-column justify-content-center align-items-center">
  <div class="border border-muted rounded py-3 px-3 w-50 ctr-content">

    <header class="text-center">
      <button type="button" class="float-end btn-close" aria-label="Close"></button>
      <h4 class="fw-bold fs-1">Almost done</h4>
      <span class="sub-title">Please enter the code below to validate your account</span>
    </header>

    <form class="my-3">
      <div class="d-flex justify-content-between">
        <div class="form-group mx-2">
          <input type="text" name="" id="" class="text-center fw-semibold lg fs-1 input-key form-control input-sm">
        </div>
        <div class="form-group mx-2">
          <input type="text" name="" id="" class="text-center fw-semibold lg fs-1 input-key form-control input-sm">
        </div>
        <div class="form-group mx-2">
          <input type="text" name="" id="" class="text-center fw-semibold lg fs-1 input-key form-control input-sm">
        </div>
        <div class="form-group mx-2">
          <input type="text" name="" id="" class="text-center fw-semibold lg fs-1 input-key form-control input-sm">
        </div>
        <div class="form-group mx-2">
          <input type="text" name="" id="" class="text-center fw-semibold lg fs-1 input-key form-control input-sm">
        </div>
        <div class="form-group mx-2">
          <input type="text" name="" id="" class="text-center fw-semibold lg fs-1 input-key form-control input-sm">
        </div>
      </div>

      <div class="text-center">
        <div class="d-grid gap-2 mt-5">
          <input type="button" value="Verify" (click)="say()" class="btn btn-danger" />
        </div>
        <p class="mt-5"><a class="text-muted small" routerLink="">Contact Support</a></p>
      </div>

    </form>
  </div>

</div>